<!-- <h4 color="primary" class="dialog-headline"><img src="../../../assets/img/caja.png" class="img" /> Apertura de caja</h4> -->
<div class="container">
  <mat-card-title class="centerInput my-4" style="margin-bottom: 10px !important;">{{titulo}} de caja</mat-card-title>
    <mat-dialog-content>
      <form #corteCajaForm="ngForm" (ngSubmit)="CorteCaja()">
        <div class="row">
          <div class="col-md-6 form-outline form-white">
            <mat-form-field appearance="fill">
              <mat-label>Sucursal</mat-label>
              <mat-select name="sucursal" [(ngModel)]="corteCaja.idSucursal">
                <mat-option *ngFor="let sucursal of dataSucursales" [value]="sucursal.nIdSucursal" >
                  {{sucursal.sNombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6 form-outline form-white">
            <mat-form-field appearance="fill">
              <mat-label>Caja</mat-label>
              <mat-select name="caja" [(ngModel)]="corteCaja.idCaja">
                <mat-option *ngFor="let caja of dataCaja" [value]="caja.nIdCaja" >
                  {{caja.sNombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="card">
              <div class="card-header ">
                Sucursal crucero - Caja principal
              </div>
              <div class="card-body">
                  <div class="example-container">
                      <div class="col-md-12 centerInput" >
                          <mat-form-field class="col-md-5 col-sm-6 col-6 xample-full-width">
                            <!-- <label>Turno</label> -->
                            <input type="text" name="usuario" matInput placeholder="Usuario" disabled [(ngModel)]="corteCaja.usuario">
                          </mat-form-field> 
                            &nbsp; &nbsp;
                          <mat-form-field class="col-md-5 col-sm-6 col-6 example-full-width">
                            <input type="text" name="fecha" matInput placeholder="Fecha" disabled [(ngModel)]="corteCaja.fecha">
                          </mat-form-field>
                      </div>
                      
                      <div class="col-md-12 centerInput" >
                          <mat-form-field class="col-md-5 col-sm-6 col-6 xample-full-width">
                            <!-- <label>Turno</label> -->
                            <input type="text" name="turno" matInput placeholder="Turno" disabled [(ngModel)]="corteCaja.turno">
                          </mat-form-field> 
                            &nbsp; &nbsp;
                          <mat-form-field class="col-md-5 col-sm-6 col-6 example-full-width">
                            <span matPrefix>$ &nbsp;</span>
                            <input type="text" name="montoInicial" matInput placeholder="Monto inicial" [(ngModel)]="corteCaja.montoInicial">
                          </mat-form-field>
                      </div>

                      <hr />
                      <div class="row">
                        <!-- Section Left -->
                        <div class="col-md-8">
                          <!-- encabezado -->
                          <div class="form-group row">
                            <label for="empty" class="col-sm-3 col-form-label">&nbsp;</label>
                            <div class="col-sm-3">
                              <input type="text" class="form-control-plaintext" value="En caja">
                            </div>
                            <div class="col-sm-3">
                              <input type="text" class="form-control-plaintext" value="Calculado">
                            </div>
                            <div class="col-sm-3">
                              <input type="text" class="form-control-plaintext" value="Diferencia">
                            </div>
                          </div>
                          <!-- encabezado -->

                          <!-- Efectivo -->
                          <div class="form-group row">
                            <label for="efectivo" class="col-sm-3 col-form-label">Efectivo</label>
                            <div class="col-sm-3">
                              <input type="text" name="efectivoCaja" class="form-control" id="efectivoCaja" [(ngModel)]="corteCaja.efectivoCaja" 
                              (change)="cajaTotal($event)">
                              
                            </div>
                            <div class="col-sm-3">
                              <input type="text" name="efectivoCalculado" class="form-control" id="efectivoCalculado" disabled 
                              [(ngModel)]="corteCaja.efectivoCalculado">
                            </div>
                            <div class="col-sm-3">
                              <input type="text" name="efectivoDiferencia" class="form-control" id="efectivoDiferencia" disabled 
                              [(ngModel)]="corteCaja.efectivoDiferencia">
                            </div>
                          </div>
                          <!-- Efectivo -->
                      
                          <!-- Tarjeta credito/debito -->
                          <div class="form-group row py-2">
                            <label for="tarjeta" class="col-sm-3 col-form-label">Tarjeta</label>
                            <div class="col-sm-3">
                              <input type="text" name="tarjetaCaja" class="form-control" id="tarjetaCaja" [(ngModel)]="corteCaja.tarjetaCaja"
                              (change)="cajaTotal($event)">
                            </div>
                            <div class="col-sm-3">
                              <input type="text" name="tarjetaCalculado" class="form-control" id="tarjetaCalculado" disabled 
                              [(ngModel)]="corteCaja.tarjetaCalculado">
                            </div>
                            <div class="col-sm-3">
                              <input type="text" name="tarjetaDiferencia" class="form-control" id="tarjetaDiferencia" disabled 
                              [(ngModel)]="corteCaja.tarjetaDiferencia">
                            </div>
                          </div>
                          <!-- Tarjeta credito/debito -->

                          <hr style="opacity: 0.25;"/>

                          <!-- Tarjeta credito/debito -->
                          <div class="form-group row ">
                            <label for="total" class="col-sm-3 col-form-label">Total</label>
                            <div class="col-sm-3">
                              <input type="text" name="totalCorteCaja" class="form-control" id="totalCorteCaja" disabled 
                              [(ngModel)]="corteCaja.totalCorteCaja">
                            </div>
                            <div class="col-sm-3">
                              <input type="text" name="totalCorteCalculado" class="form-control" id="totalCorteCalculado" disabled 
                              [(ngModel)]="corteCaja.totalCorteCalculado">
                            </div>
                            <div class="col-sm-3">
                              <input type="text" name="totalCorteDiferencia" class="form-control" id="totalCorteDiferencia" disabled 
                              [(ngModel)]="corteCaja.totalCorteDiferencia">
                            </div>
                          </div>
                          <!-- Tarjeta credito/debito -->

                        </div>

                        <!-- Section right -->
                        <div class="col-md-4 vertical-line">

                          <div class="form-group row">
                            <!-- <label for="empty" class="col-sm-6 col-form-label">Retiro por corte</label> -->
                            <div class="col-sm-6 centerInput">
                              <input type="text" class="form-control-plaintext"  value="Retiro por corte">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="retiroEfectivo" class="col-sm-6 col-form-label">Efectivo</label>
                            <div class="col-sm-6">
                              <input type="text" name="retiroEfectivo" class="form-control" id="retiroEfectivo" [(ngModel)]="corteCaja.retiroEfectivo"
                              (change)="retiroCaja($event)">
                            </div>
                          </div>
                          <div class="form-group row py-2">
                            <label  class="col-sm-6 col-form-label">Tarjeta</label>
                            <div class="col-sm-6">
                              <input type="text" name="retiroTarjeta" class="form-control" id="retiroTarjeta" [(ngModel)]="corteCaja.retiroTarjeta" 
                               (change)="retiroCaja($event)" >
                            </div>
                          </div>
                          
                          <hr style="opacity: 0.25;"/>

                          <div class="form-group row">
                            <label for="total" class="col-sm-6 col-form-label">Total</label>
                            <div class="col-sm-6">
                              <input type="text" name="retiroTotal" class="form-control" id="retiroTotal" disabled 
                              [(ngModel)]="corteCaja.retiroTotal">
                            </div>
                          </div>

                        </div>
                      </div>
                


                      <!-- <mat-form-field appearance="fill" floatLabel="always">
                        <mat-label>Amount</mat-label>
                        <input matInput type="number" class="example-right-align" placeholder="0">
                        <span matTextPrefix>$&nbsp;</span>
                        <span matTextSuffix>.00</span>
                      </mat-form-field> -->
                      <!-- <button mat-raised-button (click)="openBottomSheet()">Open file</button> -->
                    </div>
              </div>
        </div>
      </form>
    </mat-dialog-content>
    <!-- <mat-dialog-actions>
        <button class="btn btn-danger" mat-dialog-close mat-button>Cancelar</button>
        <button class="btn btn-primary" mat-button>Iniciar</button>
    </mat-dialog-actions> -->
    <div class="row py-2" >
        <div class="col-md-5" style="margin: 0 auto !important;">
            <button class="btn btn-danger col-md-11 col-sm-11" mat-dialog-close>{{tituloBtnCancel}}</button>
        </div>
        <div class="col-md-5" style="margin: 0 auto !important;">
            <button type="submit" class="btn btn-primary col-md-11 col-sm-11" (click)="CorteCaja()" >{{tituloBtn}}</button>
        </div>
    </div>
</div>