<div class="container py-3"> <!-- LISTA DATATABLE-->
    <h2>Venta Detalle</h2>
    
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
    <table class="table table-striped table-sm hover" id="tblVentaDetalle" style="border-color: lavenderblush; border-radius: 15px !important; border: solid;">
        <thead>
          <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Descuento</th>
            <th>P. Compra</th>
            <th>P. Venta</th>
            <th>Fecha Registro</th>
          </tr>
        </thead>
        <tbody>
         
        </tbody>
      </table>
 </div>
